<iframe width="100%" height="100%" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/place?q=<%= currentCityText %>&key=AIzaSyCszlXazxyX12lpEE6QSRZg_jGBUU39izw" allowfullscreen></iframe>

<div id="text">
  <h1>Currently in <%= currentCityText %></h1>

  <h3>Leaving for <%= nextCityText %> <%= nextCityDate %></h3>

  <h1 style="font-size: 100px"><%= currentMoodEmoji %></h1>
  <p>Felix feels <b><%= currentMoodLevel %></b> (<%= currentModeRelativeTime %>)</p>
  <h1>Next conferences I speak at:</h1>
  <ul>
    <% for (let i in nextConferences) { %>
    <% let currentConference = nextConferences[i] %>
      <li>
        <a href="<%= currentConference.link %>"><%= currentConference.name %></a> in
        <%= currentConference.location %> (<%= currentConference.dates %>)
        </li>
    <% } %>
  </ul>

  <h1>Next trips</h1>
  <ul>
    <% for (let i in nextStays) { %>
    <% let currentStay = nextStays[i] %>
      <li>
        <b><%= currentStay.name %></b> <%= currentStay.from %> for <b><%= currentStay.for %></b> (<%= currentStay.fromDate.format("Do MMM") %> to <%= currentStay.toDate.format("Do MMM") %>)
      </li>
    <% } %>
  </ul>


  <h1>Next things going on</h1>
  <ul>
  <% for (let i in nextEvents) { %>
    <% let currentEvent = nextEvents[i] %>
    <li>An event <b><%= currentEvent["start"] %></b> for <b><%= currentEvent["duration"] %> hour<%= currentEvent["duration"] == 1 ? "" : "s" %></b></li>
  <% } %>
</div>

<style type="text/css">
  #text {
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    padding: 20px;
    font-family: Helvetica;
  }
</style>
